<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
      <a routerLink="/" class="navbar-brand">
        <img src="./assets/cap.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Uni Scoop
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <ng-template [ngIf]= "!authService.loggedIn">
              <li class="nav-item">
                <a routerLink= "/signup" routerLinkActive ="active" class="nav-link">Sign Up</a>
              </li>
              <li class="nav-item">
                <a routerLink= "/signin" routerLinkActive ="active" class="nav-link">Sign In</a>
              </li>
          </ng-template>
           <ng-template [ngIf]= "authService.loggedIn">
              <li class="nav-item">
                <a (click)="onLogout()" class="nav-link">Logout</a>
              </li>
            </ng-template>
              <li class="nav-item">
                <a routerLink= "/reviews/new" routerLinkActive ="active" class="nav-link">Write a Review</a>
              </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search for a College</button>
        </form>
      </div>
  </div>
</nav>