<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
			<form (ngSubmit)="onSubmit()" #signInForm="ngForm">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" placeholder="Email" required ngModel>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" placeholder="Password" required ngModel>
				</div>
				<button class="btn btn-primary" type="submit" [disabled]="!signInForm.valid">Sign In</button>
			</form>
		</div>
	</div>
</div>

	
